<?xml version="1.0" encoding="UTF-8"?>
<config name="{{ subsystem_name}}">
  <pv name="{{ subsystem_name }}:circle:angle">
    <description>{{ subsystem_name }}:circle:angle</description>
    <enabled>true</enabled>
    <latching>true</latching>
    <annunciating>true</annunciating>
  </pv>
</config>