#org.phoebus.email/mailhost=
org.phoebus.email/mailport=25
org.phoebus.applications.alarm/server=0.0.0.0:29095
org.phoebus.applications.alarm/config_names={{ subsystem_name }}
#org.phoebus.applications.alarm/automated_email_sender=Alarm Notification <mbajdel@gmail.com>
org.phoebus.applications.alarm/annunciator_threshold=1
org.phoebus.applications.alarm/nag_period=00:00:15
org.phoebus.applications.alarm/annunciator_retention_count=100