org.phoebus.pv.ca/addr_list=192.168.0.1
org.csstudio.trends.databrowser3/urls=pbraw://0.0.0.0:17665/retrieval/
org.csstudio.trends.databrowser3/archives=pbraw://0.0.0.0:17665/retrieval/
org.csstudio.trends.databrowser3/use_default_archives=false
#org.phoebus.email/mailhost=
org.phoebus.applications.alarm/server=0.0.0.0:29095
org.phoebus.applications.alarm/config_name={{ subsystem_name }}
org.phoebus.applications.alarm/config_names={{ subsystem_name }}
org.phoebus.applications.alarm/annunciator_threshold=1
org.phoebus.applications.alarm/nag_period=00:00:15
org.phoebus.applications.alarm/annunciator_retention_count=100
