# User specific configuration

# List the EPICS modules that will be built in this order (base is mandatory)
epics_modules_list:
  - base
  - pvxs
# Two alternative Python wrappers
  - p4p
  - seq
  - asyn
# AreaDetector dependencies
  - autosave
  - busy
  - sscan
  - calc
  - stream
  - adcore
  - adsimdetector
  - adpvadriver


