[Service]
Environment="http_proxy={{ webproxy_url }}"
Environment="https_proxy={{ webproxy_url }}"
Environment="ftp_proxy={{ webproxy_url }}"
Environment="HTTP_PROXY={{ webproxy_url }}"
Environment="HTTPS_PROXY={{ webproxy_url }}"
Environment="FTP_PROXY={{ webproxy_url }}"
